@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.mdb-moviesInfo-container {
  padding-top: 50px !important;
  animation: animate 1s;
}

.mdb-seriesInfo-container {
  padding-top: 50px;
  animation: animate 1s;
}
