@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mdb-content {
  position: relative;
  height: 30vw;
  margin-top: -50px;
  animation: animateMovieinfo 1.6s;
  z-index: 1;

  .mdb-content-background,
  .mdb-content-background-shadow,
  .mdb-content-background-image,
  .mdb-content-area {
    position: absolute;
    top: 0;
    bottom: 0;
    animation: animateMovieinfo 1.6s;
  }

  .mdb-content-background {
    left: 0;
    right: 0;
    animation: animateMovieinfo 1.6s;

    .mdb-content-background-shadow {
      left: 0;
      background: #000;
      width: 30%;
      z-index: 2;
      animation: animateMovieinfo 1.6s;

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        //background-image: linear-gradient(to right, #000, transparent);
        background-image: linear-gradient(to right, rgba(0,0,0,1) 30%, rgba(0,0,0,0));
        top: 0;
        bottom: 0;
        left: 100%;
        width: 275px;
      }
    }

    .mdb-content-background-image {
      right: 0;
      width: 70%;
      height: 100%;
      background-position: center 10%;
      background-size: cover;
      z-index: 1;
      animation: animateMovieinfo 1.6s;
    }
  }

  .mdb-content-area {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 3;
    animation: animateMovieinfo 1.6s;

    .mdb-content-area-container {
      padding: 100px 100px;
      color: wheat;
      animation: animateMovieinfo 1.6s;
    }
  }

  .mdb-content-title {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    animation: animateMovieinfo 1.6s;
    p{
      padding-top: 5px;
      font-size: 20px;
    }
  }
  .mdb-content-subtitle {
    display: inline-flex;
    font-size: 20px;
    color: #fff;
    animation: animateMovieinfo 1.6s;
    p{
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 0px 5px;
      border-left: 2px solid white;
    };
  }

  .mdb-content-description {
    font-size: 1vw;
    color: #999;
    margin-top: 20px;
    max-width: 650px;
    animation: animateMovieinfo 1.6s;
  }

  .mdb-genres {
    padding: 10px 0px;
    animation: animateMovieinfo 1.6s;
  }
  .mdb-content-buttons {
    display: flex;
    padding-top: 10px;
    button {
      margin-left: 50px;
      font-size: x-small;
    }
    animation: animateMovieinfo 1.6s;
  }
}

@media only screen and (max-width: 361px) {

  .mdb-content {
    width: 100% !important;
    position: relative;
    height: 90vw;
    animation: animateMovieinfo 1.6s;

    .mdb-content-area-container {
      padding: 60px 20px !important;
      color: wheat;
      animation: animateMovieinfo 1.6s;
      p {
        font-size: 13px;
      }
    }

    .mdb-content-title {
      font-size: 5vw !important;
      animation: animateMovieinfo 1.6s;
    }

    .mdb-content-buttons {
      display: flex;
      padding-top: 10px;
      a .sc-AxiKw.gEDBZO {
        font-size: 15px !important;
      }
      button {
        margin-left: 50px;
        font-size: xx-small;
      }
      animation: animateMovieinfo 1.6s;
    }
    .mdb-genres {
      padding: 5px 0px;
      font-size: 13px !important;
      animation: animateMovieinfo 1.6s;
    }

    .mdb-content-description {
      font-size: 3vw !important;
      margin-top: 5px;
      animation: animateMovieinfo 1.6s;
    }
  }
}
