@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mdb-content {
  padding-top: 50px !important;
  position: relative;
  width: 100%;
  min-height: 50vh;
  right: 0;
  height: auto;
  background-position: center 10%;
  background-size: cover;
  animation: animate 1s;

  .mdb-content-description {
    max-width: 50%;
    margin: 150px 50px;
    h1{
      text-align: left;
      margin: 1px 0;
      text-transform: uppercase;
      color: white;
      font-size: 3.5em;
      font-family: serif;
    }
    h2{
      font-size: 1.5em;
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.5em;
      color: white;
    }
    p{
      padding-top: 10px;
      font-size: 1.2em;
      font-weight: 300;
      color: white;
    }
  }
}
a.Link {
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 360px) {
  .mdb-content {
    .mdb-content-description {
      max-width: 80%;
      margin-left: 20px !important;
      h1{
        font-size: 1.6em;
      }
      h2 {
        font-size: 1em !important;
      }
      h5{
        font-size: 1.1em;
      }
      p {
        font-size: 0.8em !important;
      }

    }
  }
}

@media (min-width: 361px) and (max-width: 414px) {
  .mdb-content {
    .mdb-content-description {
      max-width: 80%;
      margin-left: 20px !important;
      h1{
        font-size: 1.8em;
      }
      h2 {
        font-size: 1em !important;
      }
      h5{
        font-size: 1.1em;
      }
      p {
        font-size: 0.8sem !important;
      }
    }
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .mdb-content {
    .mdb-content-description {
      max-width: 80%;
      margin-left: 20px !important;
      h1{
        font-size: 2em;
      }
      h2 {
        font-size: 1em !important;
      }
      p {
        font-size: 0.9em !important;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mdb-content {
    .mdb-content-description {
      max-width: 70%;
      margin-left: 20px !important;
      h1{
        font-size: 2.2em;
      }
      h2 {
        font-size: 1.4em !important;
      }
      h5{
        font-size: 1.6em;
      }
      p {
        font-size: 1.2em !important;
      }
    }
  }
  .sc-AxiKw.iHZPC {
    font-size: 1.5em;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .mdb-content {
    .mdb-content-description {
      max-width: 60%;
      margin-left: 20px !important;
      h1{
        font-size: 2.4em;
      }
      h2 {
        font-size: 1.6em !important;
      }
      p {
        font-size: 1.4em !important;
      }
    }
  }
  .sc-AxiKw.iHZPC {
    font-size: 1.5em;
  }
}
@media (min-width: 1301px) and (max-width: 1600px) {
  .mdb-content {
    .mdb-content-description {
      max-width: 50%;
      margin-left: 20px !important;
      h1{
        font-size: 2.4em;
      }
      h2 {
        font-size: 1.4em !important;
      }
      p {
        font-size: 1.2em !important;
      }
    }
  }
  .sc-AxiKw.iHZPC {
    font-size: 1.5em;
  }
}
